* {
    padding: 0;
    margin: 0;
    border: 1px solid blue;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contenido {
    display: flex;
    flex: 1;
    padding: 2% 2% 2% 10%;
    width: 88%;
}

.logo-alura {
    background-image: url("../assets/logo-alura.png");
    width: 120px;
    height: 48px;
}


.contenido__seccion__izq {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8% 6% 3% 0%;
}

textarea {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
}

.contenido__seccion__izq__div__botones {
    display: flex;
    gap: 24px;
}

.botones_seccion_izq {
    flex: 1;
    border-radius: 24px;
    padding: 24px;
}

.contenido__seccion__der {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: auto;
    border-radius: 32px;
    padding: 0 2rem;
}

.imagen__persona {
    width: 100%;
}

.contenedor__textos__seccion__der {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding: 10%;
}

.texto_titulo {
    font-size: 1.5rem;
}

@media (max-width: 768px) {

    .contenido {
        flex-direction: column;
        gap: 4rem;
        padding: 4.5rem 2.5rem 2.5rem 2.5rem;
    }

    .contenido__seccion__izq {
        padding: 0;
    }

    .logo-alura {
        background-image: url("../assets/logo-alura-tablet.png");
        width: 31px;
        height: 51px;
    }

    .imagen__persona {
        display: none;
    }

}

@media (max-width: 375px) {

}